LIVEKIT_URL= 
LIVEKIT_API_KEY= 
LIVEKIT_API_SECRET= 
VOICE_API_URL= 
NEXT_PUBLIC_SHOW_SETTINGS_MENU=true
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
NEXTAUTH_SECRET= 
NEXT_PUBLIC_SIGNSPEAK_API_KEY= 
CLIENT_URL=https://remo-talk.vercel.app
# NEXTAUTH_URL=http://localhost:3000